@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body{
    background-color: #dcdbf19e;
}

#heading {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 3rem 0;
}

#about-form {
    text-align: center;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 3rem;
    padding: 0 8rem;
}

.form-container {
    text-align: center;
    /* border: 2px solid red; */
    margin: 2rem auto;
    height: auto;
    font-size: 1.7rem;
    width: 35vw;
    background: #9595eb;
    border-radius: .8rem;

}

.form {
    color: white;
}

.email-div,
.name-div,
.msg-div {
    /* border: 2px solid rgb(25, 175, 45); */
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
    text-align: left;
    padding: 3rem 1rem 0 2rem;
}

/* .name-div{
border: 2px solid #758dec;
} */
/* .msg-div{
border: 2px solid yellow ;
} */
.input-field {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    outline: none;
    font-size: 1.7rem;
    width: 28vw;
    resize: none;
    text-transform: capitalize;
}

.input-field::placeholder {
    color: rgba(218, 214, 214, 0.89);
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;

}

.btn {
    background-color: white;
    color: #758dec;
    border: 2px solid white;
    margin: 4rem 1rem;
    font-size: 2rem;
    padding: 2rem 3rem;
    width: 28vw;
    border-radius: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all .4s linear;
}

.btn:hover {
    background-color: #758dec;
    color: white;
    border: 2px solid #758dec;

}

.icons {
    text-align: center;
    color: #758dec;
    font-size: 5rem;
}

.icons>* {
    padding: 1rem 1rem;
    margin: 2rem 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #758dec;
}



@media screen and (max-width:1000px) {
    .form-container {
        width: 75vw;
    }

    .input-field {
        width: 62vw;
    }

    .btn {
        width: 70vw;
    }
}

@media screen and (max-width:700px) {
    #about-form {
        padding: 0 4rem;
    }

    .btn {
        padding: 1rem 1rem;
        width: 29vw;
        font-weight: 700;
        margin: 2rem auto;
    }

}
@media screen and (max-width:400px) {
    .form-container {
        width: 92vw;
    }
    .email-div, .name-div, .msg-div {
        width: 100%;
    }
    .input-field {
        width: 80vw;
    }
    .btn {
        width: 50vw;
    }
    label{
        font-size: 2.5rem;
    }
    .icons {
        font-size: 3rem;
        margin: 3rem 0;
    }
    .icons>* {
        margin-bottom: 3rem;
    }
  

}
